@charset "UTF-8";

html, body{
    background-color: white;
    width: 100vw;
    height: 100vh;
}


header{
    width: 100vw;
}

header > h1{
    font-size: 4em;
}

header > span#burguer{
    display: none;
}

header > nav#versoes{
    display: block;
    width: 99vw;
    padding: 20px 5px;
}

header > nav#versoes > a{
    border-radius: 0px 0px 7px 7px;
    font-family: var(--fonte_titulo);
    text-transform: uppercase;
    padding: 15px;
    font-size: 1.2em;  
}

main{
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.521);
}

main > h1{
    font-size: 2em;
}

main > div.team{
    width: 800px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.507);
}

main > div.team > div{
    width: 90px;
}

main > audio{
    width: 400px;
    background-color: white;
}

footer{
    display: block;
}

/*----------------------------------------------JOGUE ONLINE--------------------------------------*/
main > picture > img.capa{
    display: block;
    margin: auto;
    width: 850px;
}

main > section{
    margin: auto;
    width: 850px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
}

main > section > p{
    padding: 20px;
    font-size: 1.3em;
}

main > section > img{
    display: block;
    margin: auto;
    width: 80%;
}

/*----------------------------------------------GALERIA--------------------------------------*/
main > section > h2{
    font-size: 1.7em;
    padding-top: 45px;
}

main > section > div.galeria{
    width: 850px;
}

main > section > div.galeria > img{
    width: 155px;
}

/*----------------------------------------------COMBATES--------------------------------------*/

main > section > p.titulo-video{
    display: none;
    font-size: 1.35em;
}

main > section > div.box-video{
    display: inline-block;
    width: 270px;
}

/*-------------------------------------------PERSONAGEM PRINCIPAL-----------------------------------*/

main > nav#personagem{
    width: 840px;
    padding: 10px 5px;
}

main > nav#personagem > div{
    width: 600px;
}

main > nav#personagem > div > a{
    font-size: 1.1em;
    padding: 10px 15px;
}

main > nav#personagem > div > a:hover{
    background-color: darkred;
    padding: 14px 15px 10px 15px;
}

main > iframe{
    width: 98vw;
    height: 100vh;
}

/*-------------------------------------------GOLPES-----------------------------------*/

main > section > img.golpes{
    width: 80%;
}

main > section > p#rodape-video{
    font-size: 1em;
}

/*-------------------------------------------HISTORIA-----------------------------------*/
main > section > p{
    margin: auto;
    width: 700px;
}

/*-------------------------------------------CURIOSIDADES-----------------------------------*/
main > section > table#mobile{
    width: 600px;
}

main > section > table#mobile > tbody > tr > td{
  font-size: 1.5em;
}

main > section > table#selecao{
    width: 600px;
}

main > section > table#selecao > tbody > tr > td.texto{
    font-size: 1.075em;
    padding: 25px;
  }

