/*-------------------------------------------------Pagina Home --------------------------------------*/
main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}

main  img.transicao{
    display: block;
    width: 85%;
    margin: auto;
    transition: 0.5s;
}

main  img.transicao:hover{
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

main  h1.especial{
    font-family: var(--fonte_destaque);
    padding-top: 20px;
    font-size: 1.75em;
    text-align: center;
}

main  h1.titulo{
    font-family: var(--fonte_titulo);
    padding: 35px 10px 20px 10px;
    font-size: 1.75em;
    text-align: center;
    font-variant: small-caps;
}
section.personagens{
    max-width: 700px;
    min-width: 300px;
    padding-left: 3vw;
    margin: auto;
    margin-bottom: 40px;
    padding: 25px 20px;   
}

div.person {
    display: inline-block;
    background-color: white;
    width: 80%;
    height: 80%;
    border: 5px solid white;
    margin: auto;
}

div.person:hover{
    background-color: red;
    border: 5px solid red;
    box-shadow: 0px 0px 8px red;
    transition-duration: 0.75s;
}

div.person img{
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

div.person img:hover{
    box-shadow: 0px 0px 25px red;
    transform: scale(1.02);
}

div.audio{
    background-image: linear-gradient(to right, var(--cor0), darkred);
    max-width: 800px;
    min-width: 300px;
    padding: 10px 5px;
}

div.audio audio{
    width: 40%;
    display: block;
    background-color: white;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0px 0px 30px red;
}

/*-----------------------------------------Pagina Online ------------------------------------*/

img.capa{
    width: 100%;
    min-width: 300px;
    margin: auto;
    box-shadow: 0px 0px 5px var(--cor1);
}

section.conteudo{
    max-width: 720px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px 5px;    
}


section  h2.subtitulo{
    text-align: left;
    max-width: 300px;
    margin-left: 20px;
    font-style: italic;
    font-family: var(--fonte_padrao);
    font-size: 1.2em;
    color: var(--cor1);
    text-shadow: 0px 0px 10px rgb(238, 159, 159);
}

section  > p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 0.95em;
    color: black;
    padding: 10px 30px;
    padding-bottom: 20px;
    text-indent: 20px;
}

div.video-full{
    background-color: white;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

div.video-full iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

img.conteudo{
    display: block;
    width: 90%;
    margin: auto;
}

img.rodape{
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: -20px;
}


/*-----------------------------------------Pagina Galeria ------------------------------------*/

div.imagem{
    display:inline-block;
    width: 28%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.541);
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px; 
}

div.imagem img{
    width: 100%;
    transition: 0.6s;
}

div.imagem:hover img{
    -webkit-transform: scale(2);
    transform: scale(1.4);
    box-shadow: 0px 0px 15px var(--cor0);
 }

/*-----------------------------------------Pagina combates ------------------------------------*/

p.video{
    background-image: linear-gradient(to right, transparent, rgb(238, 218, 237), transparent);
    color: rgb(109, 108, 108);
    font-size: 0.8em;
    font-weight: bolder;
    text-align: center;
    width: 250px;
    padding: 15px 2px 0px 2px;
    margin: auto;
}

#largura600{
    max-width: 600px;
}

/*-----------------------------------------Pagina golpes ------------------------------------*/
.destaque{
    font-size: 0.9em;
    text-align: left;
    width: 85%;
    color: rgb(73, 73, 73);
    margin:auto;
    text-indent: 0px;
    background-image: linear-gradient(to right, transparent, rgb(238, 218, 237), transparent);
    margin-bottom: 0px;
}
/*-----------------------------------------Pagina hstorias ------------------------------------*/

section.normal{
    background-color: white;
    color: black;
}

section.imagem-fundo{
    background-color: black;
    color: white;
    box-shadow: inset 4px 4px 13px 0px rgba(0, 0, 0, 0.452);
    background-attachment: fixed;
    background-size: cover;
    padding: 20px 20px;
}

section.imagem-fundo p{
    background-color: rgba(0, 0, 0, 0.753);
    font-size: 1em;
    color: white;
    background-attachment: fixed;
    background-size: cover;
}

section#img01{
    background-image: url('../jpeg/k-paper1.jpg');
    background-position: left center;
}

#historia{
    max-width: 600px;
    min-width: 300px;
    background-color: lightgoldenrodyellow;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
    font-size: 1.1em;
}

img.gif{
    display: block;
    margin: auto;
    width: 1.5vw;
}

/*-----------------------------------------Pagina curiosidades ------------------------------------*/

div.golpes{
    display: inline-block;
    width: 120px;
    height: 80px;
    margin: 3px 0px;
    border-radius: 10px;
    padding-left: 30px;
}

div.golpes:hover{
   font-weight: bolder;
   box-shadow: 0px 0px 15px rgb(241, 142, 142);
}

p.golpes{
    margin-left: -10px;
    color: black;
    width: 100%;
    padding: 5px 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6em;
    font-variant: small-caps;
    text-align: center;
}

div.golpes audio{
    display: block;
    width: 100%;
    margin: auto;
}

#espaco{
    margin: 30px 5px;
}

#sinopse{
    color: white;
    background-color: darkred;
    box-shadow: inset 0px 0px 1px 2px black;
    font-size: 1.1;
    width: 82%;
    margin: auto;
}

table{
    max-width: 600px;
    min-width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.384);
    margin-bottom: 20px;
    border-collapse: collapse;
}

th{
    background-image: linear-gradient(to right, rgb(255, 219, 219), transparent);
    color: darkred;
    padding: 15px 5px;
    font-size: 0.9em;
}

td > p{
    padding: 2px 5px;
    font-size: 0.6em;
    font-weight: bolder;
    margin: auto;
    font-variant: small-caps;
}

tbody.pessoal > tr:nth-child(2n){
    background-color: rgb(252, 216, 216);
    
}

tbody.pessoal > tr > td{
    padding: 5px 5px;
    font-size: 0.6em;
    margin: auto;
    font-variant: small-caps;
}

td > img{
    width: 90%;
}

td.sound audio{
    width: 100px;
}


#frame{
    display: block;
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
}

