@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'kof';
    src: url(../fontes/mechfire\ bold.otf) format(opentype);
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'grand';
    src: url(../fontes/grandnational.ttf) format(truetype);
}

:root {
    --cor0: #BD2A2E;
    --cor1: #3B3936;
    --cor2: #B2BEBF;
    --cor3: #889C9B;
    --cor4: #486966;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_destaque: 'kof', 'cursive';
    --fonte_titulo: 'grand', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background: black  url('../jpeg/fundo5.jpg') left top no-repeat fixed;
    background-size: cover;
}