main a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

main a:hover{
    color: darkred;
    text-decoration: underline;
}

main a.escuro{
    color: white;
    text-decoration: none;
}

main a.claro:hover{
    color: lightyellow;
    text-decoration: underline;
}