/*-----------------------------------------GERAL---------------------------------------------*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

@font-face {
    font-family: 'kof';
    src: url(../fontes/mechfire\ bold.otf) format(opentype);
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'grand';
    src: url(../fontes/grandnational.ttf) format(truetype);
}

:root {
    --cor0: #BD2A2E;
    --cor1: #3B3936;
    --cor2: #B2BEBF;
    --cor3: #889C9B;
    --cor4: #486966;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_destaque: 'kof', 'cursive';
    --fonte_titulo: 'grand', 'cursive';
    --fonte_poetsen: 'Poetsen One';
    --fonte_russo: "Russo One";
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: white;
}



/*-----------------------------------------HEADER--------------------------------------------*/
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    background-image: linear-gradient(to top, var(--cor0), rgb(151, 16, 16));
    text-align: center;
    color: white;
}

header > h1 {
    font-family: var(--fonte_destaque);
    font-variant: small-caps;
    font-size: 1.6em;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
}

header > span#burguer{
    font-size: 2.8em;

    text-shadow: 0px 0px 10px darkred;
    color: white;
}

header > span#play{
    width: 35px;
   
    font-size: 2.2em;
    text-shadow: 0px 0px 2px white;

    color: white;
   
}

header > span#pause{
    width: 35px;
    display: none;
   
    font-size: 2.2em;

    color: white;

    animation: pause 1s alternate infinite;
}

@keyframes pause{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.1;
        text-shadow: 0px 0px 15px white;
    }
}

menu {
    display: none;
    margin: auto;
    background-image: linear-gradient(to top, darkslategray, gray);
    padding: 0px;
}

menu > div#menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}


menu > div#menu >  a {
    padding: 8px;
    flex: auto;
    
    background-color: white;
    box-shadow:  0px 0px 6px black;
    color: black;

    font-size: 1em;
    text-decoration: none;
    text-align: center;

    font-family: var(--fonte_padrao);
    text-transform: uppercase;
}

menu > div#menu > a:hover{
    background-color: red;
    color: white;
    transition-duration: 1s;
}

/*----------------------------------------------PAGINA PRICIPAL--------------------------------------*/

section {
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 0px;

    box-shadow: 0px 0px 30px rgb(165, 165, 165);
    border-radius: 0px 0px 10px 10px;
}


section  > h1{
    padding: 10px;
    padding-top: 45px;

    font-family: var(--fonte_russo);
    font-size: 1.1em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;

    color: black;


}
section >  div#caracterSelect{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;


}
div#caracterSelect > div.team > img{
    width: 90px;

    border: 5px solid white;
    border-radius: 8px;
    box-sizing: border-box;
}

footer{
    display: none;
}

/*-------------------------------------------PAGINA PERSONAGEM--------------------------------------*/

section > picture > img.capa{
    width: 100vw;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.39);
}

section > div#abas{
    margin: auto;
    margin-top: -5px;
    background-image: linear-gradient(to bottom, lightgray, gray);
    box-shadow: 0px 0px 5px rgb(71, 71, 71);
    border: 5px solid darkslategray;
}

section > div#abas > div{
    width: 302px;
    display: block;
    margin: auto;
}

section > div#abas > div > p{
    display: inline-block;
    padding: 10px 5px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    font-size: 0.8em;
    font-family: var(--fonte_poetsen);
    letter-spacing: -0.5px;

   
    color: white;
}

p#aba-um{
    background-color: darkred;
    scale: 1.1;
    box-shadow: 0px 0px 10px white;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid white;
}

#conteudo-um{
    display: block;
}

section > section.conteudo{
    display: none;
}

/*---------------------------------------------HISTORIA-----------------------------------------*/


section > section.conteudo > h2{
    padding: 10px;
    
    text-align: center;
    font-style: italic;
    font-family: var(--fonte_padrao);
    font-size: 1.3em;  

    color: darkred;
}

section > section.conteudo > p{
    padding: 10px 30px;
    padding-bottom: 20px;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1.1em;
    text-indent: 20px;

    color: black;
}

section > section > p > a{
    color: red;
    font-size: 1.15em;
    font-weight: bold;
    text-decoration: none;
}

section > section > p > a:hover{
    color: red;
    font-weight: bolder;
}

/*---------------------------------------------GOLPES-----------------------------------------*/
section > section > img#golpes{
    display: block;
    margin: auto;
    width: 100vw;
    transition: transform 0.5s ease;
}

section > section > div.video-full{
    position: relative;
    padding: 20px;
    padding-bottom: 50%;
    margin-top: -5px;
}

section > section > div.video-full > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section > section > p#rodape-video{
    text-shadow: 0px 2px 10px white;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 0.65em;
    margin: auto;
    margin-top: -5px;

}

section > section > p#rodape-video > a{
    color: darkred;
    text-decoration: none;
    
}

section > section > p#rodape-video > a:hover{
    font-weight: bolder;
    text-shadow: 0px 0px 20px white;
    text-decoration: none;

    color: red;
    
}

/*-------------------------------------------COMBATES----------------------------------------------*/

section > section > p.titulo-video{
    text-align: center;
    color: black;
    text-shadow: 0px 2px 2px white;
    text-transform: uppercase;
    font-size: 0.65em;
    margin: auto;
    margin-bottom: -10px;
}

section > section > p.titulo-video > a{
    color: darkred;
    text-decoration: none;
}

section > section > p.titulo-video > a:hover{
    color: red;
    text-shadow: 0px 0px 10px white;
    text-decoration: none;
}

/*-----------------------------------------CURIOSIDADE---------------------------------------------*/

section > section > table#pessoal{
    width: 300px;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid darkslategray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);

}

section > section > table#pessoal > thead >tr >th{
    background-color: darkslategray;
    color: white;
    padding: 5px;
    border: 1px solid black;
    font-family: var(--fonte_padrao);
    font-size: 1.2em;
}

section > section > table#pessoal > tbody > tr {
    padding: 8px 5px;
    font-size: 0.7em;
}

section > section > table#pessoal > tbody > tr > td{
    padding: 8px 4px;
}

section.conteudo > div.relacao{
    position: relative;
    display: block;
    margin: auto;
    width: 300px;
    height: 250px;

    margin-bottom: 20px;
    margin-left: 40px;


    background-color: white;
}

div.relacao > div.imagem{
    position: absolute;
    top: 2px;
    left: -25px;
    width: 120px;
    height: 120px;
    background-color: darkslategray;
    overflow: hidden;

    border-radius: 50%;
    border: 7px double darkslategray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);

}

div.relacao > div.imagem > img{
    width: 120px;
}

div.relacao > h1{
    position: absolute;
    left: 115px;
    top: 20px;
    padding: 10px;

    text-align: center;
    font-family: var(--fonte_poetsen);
    font-size: 2.3em;

    color: darkslategray;
    text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.11);
}

div.relacao > div.texto{
    position: absolute;
    top: 100px;
    left: 30px;
    width: 250px;
    height: 140px;
    padding-bottom: 10px;
    
    border-radius: 10px ;
    background-color: darkslategray;
    overflow: scroll;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
}

div.relacao > div.texto> p{
    padding: 15px 10px 5px 10px;
    
    text-align: justify;
    font-family: var(--fonte_padrao);

    color: white;   
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: #B2BEBF;
}


/*-------------------------------------------FIGHTCADE---------------------------------------*/
section > section >  img{
    width: 100vw;
}
/*-------------------------------------------GALERIA---------------------------------------*/
section > section.conteudo > div.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

section > section > div.galeria > img{
    width: 100px;
    padding-bottom: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.6s ease;
}

div.sobreposicao{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

div.sobreposicao > img{
    max-width: 80%;
    max-height: 80%;
}

div.sobreposicao.active{
    display: flex;
}

/*-------------------------------------------ENQUETES---------------------------------------*/
section > section > form{
    margin: auto;
    width: 300px;
}

section > section > form > h2{
    font-size: 0.9em;
    color: darkred;
    padding: 20px;
    text-align: center;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section > section > form > label{
    padding-left: 10px;
}

section > section > form > input{
    width: 140px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.37);
    text-align: center;
}

section > section > form > div#radio label{
    font-weight: bolder;
    font-size: 0.9em;
}

section > section > form > div#radio input{
    margin-bottom: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.37);
    text-align: center;
    margin-left: 10px;
}

section > section > form > div#submit{
    width: 130px;
    margin: auto;
    margin-top: 15px;
}

section > section > form > div#submit > input{
    width: 60px;
    padding: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.26);
}

/*-------------------------------------------FOOTER---------------------------------------*/
footer{
    background-image: linear-gradient(to right, rgb(36, 36, 36), black , rgb(36, 36, 36));
    box-shadow: inset 0px 0px 55px black;
}

footer > ul{
    margin: auto;
    width: 700px;
    columns: 4;
    padding: 30px 2px;
}

footer > ul > li{
    
    width: 150px;
    padding: 7px 3px;   
}

footer > ul > li > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer > p{
    text-align: center;
    padding: 10px 0px;
    color: white;
}

footer > p > a{
    color: yellow;
    text-decoration: none;
}