/*-----------------------------------------GERAL---------------------------------------------*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

@font-face {
    font-family: 'kof';
    src: url(../fontes/mechfire\ bold.otf) format(opentype);
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'grand';
    src: url(../fontes/grandnational.ttf) format(truetype);
}

:root {
    --cor0: #BD2A2E;
    --cor1: #3B3936;
    --cor2: #B2BEBF;
    --cor3: #889C9B;
    --cor4: #486966;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_destaque: 'kof', 'cursive';
    --fonte_titulo: 'grand', 'cursive';
    --fonte_poetsen: 'Poetsen One';
    --fonte_russo: "Russo One";
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: white;
}



/*-----------------------------------------HEADER--------------------------------------------*/
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    background-image: linear-gradient(to top, var(--cor0), rgb(151, 16, 16));
    text-align: center;
    color: white;
}

header > h1 {
    font-family: var(--fonte_destaque);
    font-variant: small-caps;
    font-size: 1.6em;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
}

header > span#burguer{
    font-size: 2.8em;

    text-shadow: 0px 0px 10px darkred;
    color: white;
}

header > span#play{
    width: 35px;
   
    font-size: 2.2em;
    text-shadow: 0px 0px 2px white;

    color: white;

    
   
}

header > span#pause{
    width: 35px;
    display: none;
   
    font-size: 2.2em;

    color: white;

    animation: pause 1s alternate infinite;
}

@keyframes pause{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.2;
        text-shadow: 0px 0px 15px white;
    }
}

menu {
    display: none;
    margin: auto;
    background-color: #BD2A2E;
    padding: 0px;
}

menu > div#menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}


menu > div#menu >  a {
    padding: 8px;
    margin: 2px;
    flex: auto;
    
   
    color: white;
    text-shadow: 0px 0px 5px white;
    box-shadow: inset 0px 0px 1px white;

    font-size: 0.9em;
    text-decoration: none;
    text-align: center;

    font-family: var(--fonte_padrao);
    text-transform: uppercase;
}

menu > div#menu > a:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

/*----------------------------------------------PAGINA PRICIPAL--------------------------------------*/

main{
    background: url(../jpeg/fundo-abstrato.jpg) center  center  no-repeat fixed ;
    background-size: cover;
    ;
}



section  > h1{
    font-family: var(--fonte_destaque);
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;

    color: gray;

    animation: select 0.4s infinite linear;
}

h1#t1{
    animation: titulo1 2s linear infinite;
    padding-top: 30px;
}

h1#t2{
    animation: titulo2 2s linear infinite;
    font-size: 1.9em;
    margin-bottom: 20px;
    margin-top: -10px;
    color: rgb(139, 0, 0);
    
}

@keyframes titulo1{
    0%{
        transform: translateX(-10px);
    }

    50%{
        transform: translateX(10px);
    }
    
    100%{
        transform: translateX(-10px);
    }
}

@keyframes titulo2{
    0%{
        transform: translateX(5px);
    }

    50%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(5px);
    }
}

section >  div#caracterSelect{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;  

}

div#caracterSelect > div.team{
    padding: 3.5px;
}


div#caracterSelect > div.team > img{
    width: 70px;

    padding: 3px;
    

    animation: escala 2s linear infinite;
}

div#caracterSelect > div#timekusanagui{

    padding: 0px 76px;
    
}

@keyframes escala{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

footer{
    display: none;
}

div.rodape{
    background-color: #BD2A2E;
    width: 100%;
    height: 35px;
    margin-top: 20px;
}

/*-------------------------------------------PAGINA PERSONAGEM--------------------------------------*/

div.capa{   
    display: flex;
    flex-flow: row nowrap ;
    justify-content: space-between;
    align-items: center;
}

div.capa >  img.imagem{
   width: 45vw;
 
}

div.capa > img.gif{
   width: 40%;
} 

section > div#abas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: var(--cor0);

}

section > div#abas >  p{

    padding: 7px 10px;

    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    font-size: 0.9em;
    font-family: var(--fonte_poetsen);
    letter-spacing: -0.5px;

    color: white;
}

section.conteudo{
    display: none;
}

#c1{
    display: block;
}

#b1{
    text-shadow: 0px 0px 10px white;
    scale: 1.1;
   
}

@keyframes textGlow {
    0% { text-shadow: 0px 0px 0px white; }
    50% { text-shadow: 0px 0px 10px white; }
    100% { text-shadow: 0px 0px 0px white; }
}

.glow{
    animation: textGlow 1s infinite alternate
}


/*---------------------------------------------HISTORIA-----------------------------------------*/

section.conteudo{
    background-color: white;
}
section.conteudo > h2{
    padding: 10px;
    
    text-align: center;
    font-weight: normal;
    font-family: var(--fonte_russo);
    font-size: 1em;  
    text-transform: uppercase;

    color: darkred;
    
}

section.conteudo > h3{
    padding: 7px;
    margin-bottom: -10px;
    margin-top: 10px;
    
    text-align: center;
    font-weight: normal;
    font-family: var(--fonte_russo);
    font-size: 1.15em;  

    color: darkred;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.055);
}



section.conteudo > p{
    padding: 10px 30px;

    font-family: var(--fonte_padrao);
    font-weight: normal;
    text-align: justify;
    font-size: 0.9em;
    text-indent: 10px;

    color: black;
}

section.conteudo > a{
    display: block;
    
    margin: auto;
    margin-top: 8px;
    padding: 12px 0px;

    font-family: var(--fonte_russo);
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 0px 10px darkred;

    animation: youtube 1s infinite alternate;
}

@keyframes youtube{
    0%{
        scale: 1.03;

    }
    100%{
        scale: 1.06;
    }
}

strong{
    color: red;
    font-weight: bolder;
}

/*---------------------------------------------GOLPES-----------------------------------------*/

section > img#golpes{
    display: block;
    margin: auto;
    width: 100vw;
    transition: transform 0.5s ease;
}

section > div.video-full{
    position: relative;
    padding: 20px;
    padding-bottom: 50%;
    margin-top: -5px;
}

section > div.video-full > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section > p#rodape-video{
    text-shadow: 0px 2px 10px white;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: auto;
    margin-top: -5px;

}

section > p#rodape-video > a{
    color: darkred;
    text-decoration: none;
    
}

section > p#rodape-video > a:hover{
    font-weight: bolder;
    text-shadow: 0px 0px 20px white;
    text-decoration: none;

    color: red;
    
}



/*-------------------------------------------COMBATES----------------------------------------------*/

section > p.titulo-video{
    text-align: center;
    color: black;
    text-shadow: 0px 2px 2px white;
    text-transform: uppercase;
    font-size: 0.7em;
    margin: auto;
    margin-bottom: -10px;

}

section > p.titulo-video > a{
    padding: 5px;
    margin: 3px;

   color: darkred;
    text-decoration: none;
    border-radius: 5px;
}

section.conteudo > p.descricao{
    width: 260px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;

    font-family: var(--fonte_padrao);
    font-size: 1em;

    background-color: rgb(240, 239, 239);
    border: 2px solid gray;
}

div.botoes{
    display: flex;
    flex: row nowrap;
    justify-content: center;
}

div.botoes > p.opcao{
    padding: 8px;

    font-family: var(--fonte_russo);
    
    background-color: gray;
    color: white;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 5px;
    text-shadow: 2px 2px 5px black;
}

#tex1{
    display: block;
}

#op1{
    background-color: darkred;
}

/*-----------------------------------------CURIOSIDADE---------------------------------------------*/

section > table#pessoal{
    width: 310px;
    margin: auto;
    margin-bottom: 40px;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);

}

section > table#pessoal > thead >tr >th{
    
    color: var(--cor4);
    padding: 5px;
    font-family: var(--fonte_destaque);
    font-size: 1em;
}

section > table#pessoal > tbody > tr {
    padding: 8px 5px;
    font-size: 0.7em;
}

section > table#pessoal > tbody > tr > td{
    padding: 10px;
}

section.conteudo > div.relacao{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: end;
    margin: auto;
    width: 300px;

    margin-bottom: 18px;
    background-color: white;
}

div.relacao > div.imagem{
    width: 100px;

}


div.relacao > div.imagem > img{
    width: 100px;
    margin-bottom: -2.5px;

    animation: imagem 2s infinite alternate;
}

@keyframes imagem{
    0%{ scale: 1;}
    50%{ scale: 1.02;}
    100%{ scale: 1;}
}

div.relacao > div.texto > h1{

    text-align: center;
    font-family: var(--fonte_russo);
    font-size: 1.5em;
    font-weight: normal;

    color: var(--cor4);

    
}

div.relacao > div.texto{
    width: 300px;
  
    padding-bottom: 10px;
    
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.37);
    
}

div.relacao > div.texto> p{
    height: 120px;
    overflow: scroll;

    padding: 15px;
    margin: 5px;
    
    text-align: justify;
    font-family: var(--fonte_padrao);
    font-size: 0.9em;

    color: black;   
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor2);
}



/*-------------------------------------------FOOTER---------------------------------------*/
footer{
    background-image: linear-gradient(to right, rgb(36, 36, 36), black , rgb(36, 36, 36));
    box-shadow: inset 0px 0px 55px black;
}

footer > ul{
    margin: auto;
    width: 700px;
    columns: 4;
    padding: 30px 2px;
}

footer > ul > li{
    
    width: 150px;
    padding: 7px 3px;   
}

footer > ul > li > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer > p{
    text-align: center;
    padding: 10px 0px;
    color: white;
}

footer > p > a{
    color: yellow;
    text-decoration: none;
}