/*-----------------------------------------GERAL---------------------------------------------*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

@font-face {
    font-family: 'kof';
    src: url(../fontes/mechfire\ bold.otf) format(opentype);
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'grand';
    src: url(../fontes/grandnational.ttf) format(truetype);
}

:root {
    --cor0: #BD2A2E;
    --cor1: #3B3936;
    --cor2: #B2BEBF;
    --cor3: #889C9B;
    --cor4: #486966;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_destaque: 'kof', 'cursive';
    --fonte_titulo: 'grand', 'cursive';
    --fonte_poetsen: 'Poetsen One';
    --fonte_russo: "Russo One";
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}



/*-----------------------------------------HEADER--------------------------------------------*/
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    background-image: linear-gradient(to top, var(--cor0), rgb(151, 16, 16));
    text-align: center;
    color: white;
}

header > h1 {
    font-family: var(--fonte_destaque);
    font-variant: small-caps;
    font-size: 1.6em;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404);
}

header > span#burguer{
    font-size: 2.8em;

    text-shadow: 0px 0px 10px darkred;
    color: white;
}

header > span#voltar{
    display: none;
}

header > span#play{
    width: 35px;
   
    font-size: 2.2em;
    text-shadow: 0px 0px 2px white;

    color: white;
}

header > span#pause{
    width: 35px;
    display: none;
   
    font-size: 2.2em;

    color: white;

    animation: pause 1s alternate infinite;
}

@keyframes pause{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.2;
        text-shadow: 0px 0px 15px white;
    }
}

menu {
    all: unset;
    display: none;
    margin: auto;
    background-color: #BD2A2E;
    padding: 0px;
    margin: 0px;
}

menu > div#menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}


menu > div#menu >  a {
    padding: 8px;
    flex: auto;
    
   
    color: white;
    text-shadow: 0px 0px 5px white;
    box-shadow: inset 0px 0px 1px white;

    font-size: 0.9em;
    text-decoration: none;
    text-align: center;

    font-family: var(--fonte_padrao);
    text-transform: uppercase;
}

menu > div#menu > a:hover{
    transform: scale(1.05);
    transition-duration: 1s;
}

/*----------------------------------------------PAGINA PRICIPAL--------------------------------------*/

main{
    background: url(../jpeg/fundo-abstrato.jpg) center  center  no-repeat fixed ;
    background-size: cover;
    overflow: hidden;

}

div#imagemPersonagem{
    display: none;
    
}

main  > h1{
    font-family: var(--fonte_destaque);
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;

    color: gray;

    animation: select 0.4s infinite linear;
    
}

h1#t1{
    animation: titulo1 2s linear infinite;
    padding-top: 15px;
   
}

h1#t2{
    animation: titulo2 2s linear infinite;
    font-size: 1.9em;
    margin-bottom: 20px;
    margin-top: -10px;
    color: rgb(139, 0, 0);
    
}

@keyframes titulo1{
    0%{
        transform: translateX(-10px);
    }

    50%{
        transform: translateX(10px);
    }
    
    100%{
        transform: translateX(-10px);
    }
}

@keyframes titulo2{
    0%{
        transform: translateX(5px);
    }

    50%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(5px);
    }
}

section >  div#caracterSelect1, div#caracterSelect2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;  

}

 div.team{
    padding: 3.5px;
}


div.team > img{
    width: 70px;

    padding: 3px;
    

    animation: escala 2s linear infinite;
}

div#timekusanagui{

    padding: 0px 76px;
    
}

@keyframes escala{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

footer{
    display: none;
}

div.rodape{
    background-color: #BD2A2E;
    width: 100%;
    height: 35px;
    margin-top: 20px;
}

/*-------------------------------------------PAGINA PERSONAGEM--------------------------------------*/

div.capa{   
    display: flex;
    flex-flow: row nowrap ;
    justify-content: space-between;
    align-items: center;
}

div.capa >  img.imagem{
    width: 50%;
 
}

div.capa > img.gif{
   width: 140px;
} 

section > div#abas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: var(--cor0);

}

section > div#abas >  p{

    padding: 7px 10px;

    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    font-size: 0.9em;
    font-family: var(--fonte_poetsen);
    letter-spacing: -0.5px;

    color: white;
}

section.conteudo{
    display: none;
}

#c1{
    display: block;
}

#b1{
    text-shadow: 0px 0px 10px white;
    scale: 1.1;
   
}

@keyframes textGlow {
    0% { text-shadow: 0px 0px 0px white; }
    50% { text-shadow: 0px 0px 10px white; }
    100% { text-shadow: 0px 0px 0px white; }
}

.glow{
    animation: textGlow 1s infinite alternate
}


/*---------------------------------------------HISTORIA-----------------------------------------*/

section.conteudo{
    background-color: rgba(255, 255, 255, 0);
}
section#c1{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

section#c1 > div{
    width: 85%;
    
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.274);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.699);

    margin: 15px 5px;
    padding: 25px 5px;
}

section#c1 > div > h1{
    font-family: var(--fonte_destaque);
    text-align: center;
    font-size: 1.7em;
    font-weight: normal;
    color: white;
    margin: 5px 5px;
    border-radius: 15px 15px 0px 0px;
    padding: none;
    text-shadow: 00px 0px 3px rgba(0, 0, 0, 0.993);

    background-color: rgba(255, 255, 255, 0.678);
}

section#c1 > div > p{
    height: auto;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 0px 0px 15px 15px;
    margin: 0px 5px 10px 5px;
    padding: 2px 12px;

    font-family: var(--fonte_padrao);
    font-weight: normal;
    text-indent: 10px;

      
}
section#c1 > div > a{
    display: block;
    
    margin: auto;
    margin-top: 8px;
    padding: 12px 0px;

    font-family: var(--fonte_russo);
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 0px 10px darkred;

    animation: youtube 1s infinite alternate;
}

@keyframes youtube{
    0%{
        scale: 1.03;

    }
    100%{
        scale: 1.06;
    }
}

strong{
    color: rgb(175, 1, 1);
    font-weight: normal;
}

/*---------------------------------------------GOLPES-----------------------------------------*/
section#c2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


section#c2 > img#golpes2{
    display: none;
}

section#c2 > img#golpes1{
    width: 80%;
    

    margin-bottom: 25px;
}

div.video-full > p.tituloVideo{
    font-size: 1em;
    font-family: var(--fonte_poetsen);
    padding: 5px;
    color: var(--cor1);
    text-align: center;
}

p.tituloVideo > a{
    font-size: 1.1em;
    font-family: var(--fonte_poetsen);
    padding: 5px;
    color: var(--cor1);
    text-shadow: 0px 0px 5px white;
    text-align: center;
    text-decoration: none;
}

p.tituloVideo > a:hover{
    color: var(--cor0);
    text-shadow: 0px 0px 3px white;
}

section#c2 > div.video-full {
    display: inline-block;
    width: 80%;
    aspect-ratio: 16 / 9;

    margin-bottom: 20px;

  
}

section#c2 > div.video-full > iframe {
    width: 100%;
    height: 100%;
    border: none;
}

div.rodape{
    display: none;
}



/*-----------------------------------------CURIOSIDADE---------------------------------------------*/

section#c3{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}


section#c3 > table#pessoal{
    width: 80%;
    margin-bottom: 40px;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);

    background-color: rgba(255, 255, 255, 0.582);

    margin-top: 20px;

}

section > table#pessoal > thead >tr >th{
    
    color: var(--cor4);
    padding: 5px;
    font-family: var(--fonte_destaque);
    font-size: 1em;

    background-color: white;
}

section > table#pessoal > tbody > tr {
    padding: 8px 5px;
    font-size: 0.7em;
}

section > table#pessoal > tbody > tr > td{
    padding: 10px;
}

div#relacaoGeral{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

}

div.relacao{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: end;
    margin: auto;
    width: 300px;

    margin-bottom: 18px;
    background-color: transparent;
}


div.relacao > div.imagem{
    width: 80%;
    margin: auto;

}

div.relacao > div.imagem > img{
    margin: 0px 0px -50px -30px;
    width: 40%;

    animation: imagem 2s infinite alternate;
}

@keyframes imagem{
    0%{ scale: 1;}
    50%{ scale: 1.02;}
    100%{ scale: 1;}
}

div.relacao > div.texto > h1{

    text-align: center;
    font-family: var(--fonte_russo);
    font-size: 1.5em;
    font-weight: normal;

    color: var(--cor4);

    
}

div.relacao > div.texto{
    width: 100%;
    margin: auto;
  
    padding-bottom: 10px;
    
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.37);
    border: none;
    border-radius: none;
   
    
}

div.relacao > div.texto> p{
    height: 140px;
    overflow: scroll;

    padding: 30px 10px;
    margin: 5px;
    
    text-align: justify;
    font-family: var(--fonte_padrao);
    font-size: 0.9em;

    color: black;   
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor2);
}



/*-------------------------------------------FOOTER---------------------------------------*/
footer{
    background-image: linear-gradient(to right, rgb(36, 36, 36), black , rgb(36, 36, 36));
    box-shadow: inset 0px 0px 55px black;
}

footer > ul{
    margin: auto;
    width: 700px;
    columns: 4;
    padding: 30px 2px;
}

footer > ul > li{
    
    width: 150px;
    padding: 7px 3px;   
}

footer > ul > li > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

footer > p{
    text-align: center;
    padding: 10px 0px;
    color: white;
}

footer > p > a{
    color: yellow;
    text-decoration: none;
}