section ul{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
    background-color: lightgoldenrodyellow;
    max-width: 600px;
    margin: auto;
}

ul{
    columns: 2;
    padding-top: 10px;
}

li.personagem{
    font-family: Verdana, Geneva, Tahoma, sans-serif(--fonte_titulo);
    font-size: 1em;
    text-align: left;
    margin: 10px 10px ;
    max-width: 100px;
}