main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}
main > img.capa{
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 5px var(--cor1);
}

main  img.conteudo{
    display: block;
    width: 85%;
    margin: auto;
}

main  img.transicao{
    display: block;
    width: 85%;
    margin: auto;
    transition: 0.5s;
}

main  img.transicao:hover{
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
main > img.rodape{
    display: block;
    width: 70%;
    margin: auto;
    
}
main > h1.especial{
    font-family: var(--fonte_destaque);
    padding-top: 20px;
    font-size: 2.5em;
    text-align: center;
}

main > h1.especial2{
    font-family: var(--fonte_destaque);
    padding-top: 20px;
    font-size: 1.6em;
    text-align: center;
}

main > h1.titulo{
    font-family: var(--fonte_destaque);
    color: var(--cor1);
    font-size: 1.5em;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
    background-image: linear-gradient(to right, rgb(255, 255, 202), transparent);
}

main  h2{
    text-align: left;
    font-style: italic;
    font-family: var(--fonte_padrao);
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 50px;
    color: var(--cor1);
}

main  h2.espacado{
    text-align: center;
    max-width: 300px;
    margin: auto;
    font-style: italic;
    font-family: var(--fonte_padrao);
    font-size: 1.4em;
    padding: 40px;
    color: var(--cor1);
    text-shadow: 0px 0px 10px rgb(238, 159, 159);
}

main  p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1em;
    color: black;
    padding: 5px 50px;
    padding-bottom: 20px;
    text-indent: 20px;
}

main p.video{
    min-width: 300px;
    max-width: 720px;
    margin: auto;
    font-family:var(--fonte_padrao);
    text-align: center;
    font-size: 1.1em;
    color: black;
    padding: 15px 20px;
    margin-bottom: -10px;
}

main a{
    color: rgb(94, 7, 94);
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    color: red;
}

section.widht-600{
    max-width: 600px;
    min-width: 300px;
    padding-left: 8%;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px 5px;
    
}
section.personagens{
    max-width: 700px;
    min-width: 300px;
    padding-left: 8%;
    margin: auto;
    margin-bottom: 40px;
    padding: 25px 20px;
    
}

section h2{
    text-align: left;
    font-style: italic;
    font-family: var(--fonte_padrao);
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 10px;
    color: var(--cor1);
}
section p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1em;
    color: black;
    padding: 10px;
    text-indent: 20px;
}



