main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}
main  img.capa{
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 5px var(--cor1);
}

main  img.conteudo{
    display: block;
    width: 85%;
    margin: auto;
}
main img.rodape{
    display: block;
    width: 70%;
    margin: auto;
    
}
main h1.especial{
    font-family: var(--fonte_destaque);
    padding-top: 20px;
    text-align: center;
}

main h1.titulo{
    font-family: var(--fonte_destaque);
    color: var(--cor1);
    font-size: 1.5em;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
    background-image: linear-gradient(to right, rgb(255, 255, 202), transparent);
}

main h2{
    text-align: left;
    font-style: italic;
    font-family: var(--fonte_padrao);
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 50px;
    color: var(--cor1);
}

main p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1em;
    color: black;
    padding: 5px 50px;
    padding-bottom: 20px;
    text-indent: 20px;
}

main p.video{
    min-width: 300px;
    max-width: 720px;
    margin: auto;
    font-family:var(--fonte_padrao);
    text-align: center;
    font-size: 1.3em;
    color: black;
    padding: 15px 0px;
    margin-bottom: -10px;
}

main a{
    color: rgb(94, 7, 94);
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    color: red;
}



