main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}
main > img.capa{
    width: 100%;
    margin: auto;
}

main > img{
    display: block;
    width: 85%;
    margin: auto;
}
main img.rodape{
    display: block;
    width: 70%;
    margin: auto;
    
}
main h1.especial{
    font-family: var(--fonte_destaque);
    padding-top: 20px;
    text-align: center;
}

main h2{
    text-align: left;
    font-family: var(--fonte_padrao);
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 50px;
    color: var(--cor1);
}

main p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1em;
    color: black;
    padding: 5px 50px;
    padding-bottom: 20px;
    text-indent: 20px;
}

main p.video{
    font-family:var(--fonte_padrao);
    text-align: center;
    font-size: 1.2em;
    color: black;
    padding-top: 15px;
    margin-bottom: -20px;
}

main a.video{
    color: darkred
}

div.video{
    background-color: white;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main a{
    color: rgb(94, 7, 94);
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    color: red;
}

main aside{
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 10px;
}

