main {
    width: 100%;
    min-width: 300px;
    background-color: white;
    padding-top: 15px;
    margin-bottom: 30px;
}

main img{
   width: 100%; 
}

main img.imagem{
    display: block;
    margin: auto;
    margin-top: -15px;
    max-width: 940px;
    min-width: 300px;

}
main h1.especial{
    font-size: 1.5em;
    font-family: var(--fonte_destaque);
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}


main h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    text-align: center;  
    font-size: 0.7em;

}

main a{
    color: rgb(94, 7, 94);
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    color: red;
}

main img.gif{
    width: 15%;
    display: block;
    margin: auto;
}

main audio{
    display: block;
    margin: auto;
    width: 40%;
}