@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'kof';
    src: url(../fontes/mechfire\ bold.otf) format(opentype);
    font-weight: normal; font-style: normal;
}

@font-face {
    font-family: 'grand';
    src: url(../fontes/grandnational.ttf) format(truetype);
}

:root {
    --cor0: #BD2A2E;
    --cor1: #3B3936;
    --cor2: #B2BEBF;
    --cor3: #889C9B;
    --cor4: #486966;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_destaque: 'kof', 'cursive';
    --fonte_titulo: 'grand', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background: black url('../jpeg/fundo5.jpg') left top no-repeat fixed;
    background-size: cover;
}
header{
    min-width: 300px;
}
header > h1 {
    background-image: linear-gradient(to top, var(--cor0), rgb(124, 7, 7));
    font-family: var(--fonte_destaque);
    padding: 45px 0px;
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    color: white;
    box-shadow: 2px 2px 10px black;
}

nav{
    min-width: 300px;
    background-color: var(--cor3);
    padding: 15px 3px;
    margin: auto;
    box-shadow: 0px 2px 6px var(--cor2);
}

nav a{
    color: white;
    padding: 16px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

nav a:hover{
    color: white;
    background-color: var(--cor0);
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 10px var(--cor0);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}
main img{
    width: 100%;
    margin: auto;
}
main img.rodape{
    display: block;
    width: 70%;
    margin: auto;
    
}
main h1.especial{
    font-family: var(--fonte_destaque);
    padding-top: 20px;
    text-align: center;
}

main h2{
    text-align: left;
    font-family: var(--fonte_padrao);
    font-size: 1.2em;
    padding-top: 15px;
    padding-left: 50px;
    color: var(--cor1);
}

main p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 1em;
    color: black;
    padding: 5px 50px;
    padding-bottom: 20px;
    text-indent: 20px;
}

main p.video{
    font-family:var(--fonte_padrao);
    text-align: center;
    font-size: 1.2em;
    color: black;
    padding-top: 15px;
    margin-bottom: -20px;
}

main a.video{
    color: darkred
}

div.video{
    background-color: white;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main a{
    color: rgb(94, 7, 94);
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    color: red;
}

main aside{
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 10px;
}

footer{
    margin-top: 5px;
    background-color: white;
    box-shadow: 0px -2px 6px black;
}

footer p{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    background-image: linear-gradient(to right , var(--cor3), rgb(88, 88, 88));
}

footer p a{
    color: lightgoldenrodyellow;
    text-decoration: none;
}
footer a:hover{
    color: red;
    text-shadow: 0px 0px 20px white;
    font-weight: bolder;
}

footer ul{
    text-align: center;
    padding: 2px;
    max-width: 600px;
    min-width: 250px;
    margin: auto;
    columns: 3;
}
footer li{
    text-align: center;
    text-align: left;
    font-family: var(--fonte_padrao); 
    padding: 15px 0px 15px 15px
}
footer li a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 80%;
}
