main div{
    max-widht: 800px
}

main div.video{
    background-color: white;
    padding: 20px;
    padding-bottom: 55%;
    position: relative;
}

main div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}