@charset "UTF-8";

html, body{
    width: 100vw;
    height: 100vh;
    background: black;
}

header > h1{
    font-size: 4em;
}

header > span#burguer{
    display: none;
}

header > nav#versoes{
    display: block;
    padding: 20px 10px;
}

header > nav#versoes > a{
    border-radius: 0px 0px 7px 7px;
    font-family: var(--fonte_titulo);
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 1.2em;  
}

main{
    background: white url('../jpeg/fundo-person.jpg') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 75vh;
}

main > h1{
    color: darkred;
    font-size: 2em;
    text-shadow: 2px 2px 2px white;
}

main > audio{
    width: 655px;
    box-shadow: 0px 0px 10px white;
}

main > div.team{
    width: 610px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.541);
    background-color: white;
}
